@media screen and (max-width: 1150px){
    .card-hero {
        max-width: 285px;
    }
}

@media screen and (max-width: 1000px){
    .section-hero header {
        margin-bottom: 70px;
    }

    .section-hero main {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 650px) {
    .first {
        display: none;
    }
    
    .second {
        display: inline-block;
    }
}