@media screen and (max-width: 900px) {
    .section-cooperation-header {
        padding: 0;
    }

    .grid-item-cooperation {
        width: 33.33%;
        padding: 30px 60px;
    }
    
    .section-cooperation-footer {
        background-color: #16697A;
    }
    
    .mail-form {
        position: static;
    }

    .grid-form {
        flex-direction: column;
    }

    .form-title {
        max-width: 421px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .section-cooperation-header {
        padding: 40px;
    }

    .grid-item-cooperation {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {

    .section-cooperation-header {
        /* padding: 90px; */
    }

    .grid-item-cooperation {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 140px;
    }
}