.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.header-media {
    display: none;
}

.header .logo {
    max-width: 106px;
    margin-right: 160px;
}

.header .logo a {
    display: block;
}

.nav-item {
    text-decoration: none;
    color: #737373;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item + .nav-item {
    margin-left: 21px;
}