@media screen and (max-width: 650px) {

    .header-desktop {
        display: none;
    }

    .header-media {
        display: flex;
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
    }

    .header-burger {
        position: relative;
        width: 25px;
        height: 15px;
    }

    .header-burger span{
        position: absolute;
        background-color: #737373;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6px;
    }

    .header-burger::before,
    .header-burger::after {
        content: '';
        background-color: #737373;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
    }

}